    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background: url("../images/background.png");
        background-color: #000000;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    
    #formHeader {
        text-align: center;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
    }
    
    .formContainer {
        padding: 0px 30px 0px 40px;
        display: flex;
        flex-direction: column;
        gap: 38px;
        position: absolute;
        width: 40%;
        height: 90%;
        left: 30%;
        top: 5%;
        background: #2C2728;
        box-shadow: 22px 19px 26px 4px rgba(0, 0, 0, 0.34);
        border-radius: 20px;
    }
    
    .formStyle {
        margin: 0px 5px 2px 5px;
    }
    
    .formTranslatePage1 {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
        transition: 0.9s;
        /* margin-right: 50% !important; */
        transform: translate(-48px, 0);
    }
    
    .formTranslatePage1Reverse {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
        transition: 0.9s;
        /* margin-right: 50% !important; */
        transform: translate(0px, 0);
    }
    
    .formTranslatePage2 {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
        transition: 1.5s;
        /* margin-right: 50% !important; */
        transform: translate(-150px, 0);
    }
    
    .formTranslatePage2Reverse {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
        transition: 1.5s;
        /* margin-right: 50% !important; */
        transform: translate(0px, 0);
    }
    
    .formTranslatePage3 {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
        transition: 0.9s;
        /* margin-right: 50% !important; */
        transform: translate(-220px, 0);
    }
    
    .formTranslatePage4 {
        -webkit-transition: 3s;
        -moz-transition: 3s;
        -ms-transition: 3s;
        -o-transition: 3s;
        transition: 1.5s;
        /* margin-right: 50% !important; */
        transform: translate(-420px, 0);
    }
    
    .formInputStyle {
        width: 100%;
        padding: 10px 0px 10px 0px;
        margin-bottom: 15px;
        border-radius: 10px;
        background: #D9D9D9;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        padding-left: 10px;
    }
    
    .formLabel {
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
    }
    
    .arrowBtn {
        margin-top: 1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        color: #FFFFFF;
    }
    
    .form1 {
        visibility: visible;
    }
    
    .form2 {
        visibility: hidden;
        position: relative;
        bottom: 50%;
        left: 30%;
    }
    
    .file-drop-box {
        display: block;
        width: 100%;
        padding: 10px 0px 10px 0px;
        text-align: center;
        line-height: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        margin-bottom: 15px;
        border-radius: 20px;
        background: #D9D9D9;
    }
    
    .file-drop-box input {
        visibility: hidden;
    }
    
    .file-drop-box span {
        color: #0083CC;
    }
    
    .file-drop-box span:hover {
        color: #086ca2;
    }
    
    .submit-btn {
        width: 140px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        background: #FFFFFF;
        border-radius: 20px;
    }
    
    .back-btn {
        width: 140px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        background: #2C2728;
        border: 0px;
        color: #FFFFFF;
    }
    
    .submit-btn:hover {
        width: 140px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        background: #eaeaea;
        border-radius: 20px;
    }
    
    .addbox {
        display: flex;
        align-items: baseline;
    }
    
    .fa {
        position: relative;
        right: 20px;
    }
    
    .responseText {
        visibility: hidden;
        color: #FFFFFF;
        position: absolute;
        bottom: 50%;
        left: 100%;
        width: 60%;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 34px;
    }
    
    .form-field.error input {
        border: 3px solid red;
    }
    
    .form-field.success input {
        border: 3px solid green;
    }
    /*TESTING RESUME GUIDE POPUPS*/
    
    #resumeGuidePopup {
        display: none;
        position: relative;
        margin: 20% 10% 1em 0em;
        z-index: 1;
        padding: 0px 30px 0px 40px;
        width: 100%;
        height: 40%;
        bottom: 13%;
        background: #2C2728;
        box-shadow: 22px 19px 26px 4px rgba(0, 0, 0, 0.34);
        border: 1px solid #171717;
        border-radius: 20px;
        max-height: 47%;
    }
    
    #resumeGuidePopup>p {
        visibility: visible;
        position: relative;
        font-size: 1em;
        margin: 2em 0em 1em 0em;
        text-align: center;
        display: inline-block;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 3px;
    }
    
    #resumeGuidePopup>h3 {
        font-size: 2em;
    }
    
    #formHeader {
        text-align: center;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
    }
    
    .closeButton {
        display: inline-block;
        position: relative;
        left: 95%;
        font-size: x-large;
        font-weight: 700;
        font-stretch: expanded;
        color: gray;
        background: none;
        border: none;
        margin: 0.5em;
    }
    
    #resumeGuide {
        margin-top: 2rem;
        width: 100%;
        height: 15rem;
        object-fit: contain;
    }
    /*END OF TESTING*/
    /* Responsive Design */
    
    @media only screen and (min-width: 200px) and (max-width: 767px) {
        body {
            overflow: visible;
        }
        .formContainer {
            width: 90%;
            left: 5%;
        }
        .formTranslatePage2 {
            -webkit-transition: 3s;
            -moz-transition: 3s;
            -ms-transition: 3s;
            -o-transition: 3s;
            transition: 1.5s;
            transform: translate(-80px, 0);
        }
        .responseText {
            font-size: 24px;
            width: 80%;
        }
        .formTranslatePage3 {
            -webkit-transition: 3s;
            -moz-transition: 3s;
            -ms-transition: 3s;
            -o-transition: 3s;
            transition: 0.9s;
            /* margin-right: 50% !important; */
            transform: translate(-220px, 0);
        }
        .formTranslatePage4 {
            -webkit-transition: 3s;
            -moz-transition: 3s;
            -ms-transition: 3s;
            -o-transition: 3s;
            transition: 1.5s;
            transform: translate(-280px, 0);
        }
        #resumeGuidePopup {
            margin-top: 40%;
        }
        #resumeGuidePopup>h3 {
            font-size: 24px;
        }
    }